<launch>
    <include file="$(find turtlebot_bringup)/launch/minimal.launch"/>

    <node pkg="nodelet" type="nodelet" name="teleop_velocity_smoother" args="load yocs_velocity_smoother/VelocitySmootherNodelet mobile_base_nodelet_manager">
        <rosparam file="$(find turtlebot_bringup)/param/defaults/smoother.yaml" command="load"/>
        <remap from="teleop_velocity_smoother/smooth_cmd_vel" to="cmd_vel_mux/input/navi"/>

        <!-- Robot velocity feedbacks; use the one configured as base default -->
        <remap from="teleop_velocity_smoother/odometry" to="odom"/>
        <remap from="teleop_velocity_smoother/robot_cmd_vel" to="mobile_base/commands/velocity"/>
    </node>
    <node pkg="bumper_bot" type="bumper_bot.py" name="bumper_bot" output="screen">
        <remap from="cmd_vel" to="teleop_velocity_smoother/raw_cmd_vel"/>
        <!--param name="~stop_dist" value="3.0"/-->
    </node>
    <!--node pkg="smach_viewer" type="smach_viewer.py" name="smach_viewer" /-->
    <!--node pkg="rviz" type="rviz" name="rviz" /-->
</launch>